<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KoinWorks - Democratizing Finance</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Custom CSS -->
    <!-- <link href="css/landing-page.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <style type="text/css"> 
        body {
            width: 100%;
            height: 100%;
            background-image: url(<%= asset_path("coming-soon-bg.jpg") %>);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .landing {
            padding: 30px;
            background-color: rgba(255,255,255,0.8);
        }
        .logo {
            margin-top: 120px;
            margin-bottom: 60px;
            text-align: center;
        }
        .logo img {
            max-width: 100%;
        }
        .landing h4 {
            text-align: justify;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }
        .landing h5 {
            text-decoration: underline;
        }

        .hired {
             text-decoration: line-through;
        }
     
    </style>

</head>

<body>
    <div class="site-wrapper">
        <section>
            <div class="container">
            
                <div class="row">
                    <div class="col-md-12 logo">
                        <!-- <img src="images/logo.png" /> -->
                        <%= image_tag "logo.png" %>
                    </div>
                </div>
                
                <div class="row">
                
                    <div class="col-md-2"></div>
                    
                    <div class="col-md-8">
                        
                        <div class="landing">

                             







                        
                            <h4>Want to make a difference? Did you know that 80% of Indonesian adult population do not have access to a formal financial service? And less than half  of that number are well served?</h4>
    
                            <h4>We at Koinworks aims to flip those numbers around. Our platform will democratize finance in Indonesia, lower the barriers of entry and reduce costs. Join the team, and be a part of this innovation. </h4>
                            
                            <p>&nbsp;</p>
                            
                            <p>We’re currently hiring for this position:</p>
                            
                            <h5>Digital Marketing </h5>
                            <p>You will be the PIC in planning, executing and analysing our digital marketing strategy. An ideal candidate would have had 2 years of experience in digital marketing for a financial product for investors.</p>
                            
                            <p>Prior experience is not required, however, as we are looking for a quick learner who is creative and analytical, driven, and full of ideas. You will have plenty of opportunities to learn about various aspects of our business.

                            </p>
 
                            <p>&nbsp;</p>
                            
                            <h4>We’re a small but growing team, so teamworking skills and communications are must haves! Please mail applications to <a href="mailto:general@koinworks.com">general@koinworks.com</a></h4>

                            <h4>Didn’t find a position you like? You can tell us about yourself and why you’ll be a good fit. </h4>
                            
                        </div>
                    
                    </div>
                        
                    <div class="col-md-2"></div>
                        
                    
                </div>
                
            </div>
        
        </section><!--end of Home section-->
    </div>

</body>

</html>
